body {
    background-color: #F2F2F2;
    font-family: sans-serif;
}

#dynamicContent {
    padding: 40px;
    border: solid 1px #F00;
}

.special {
    background-color: #222;
    color: #fff;
    padding: 5px;
}